# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.db
*.suo
*.sdf
*.opendb
*.tlog
*.log
NYP_Framework/Debug/*
NYP_Framework/Base/Debug/*
NYP_Framework/Base/Debug/vc120.idb
NYP_Framework/Base/Debug/vc120.pdb
NYP_Framework/Debug/Base.pdb
*.idb
*.pdb
